{% extends 'header.html' %}
{% load static %}
{% block title %} About {% endblock%}
{% block content %}
<div class="container px-4" style="margin-top:40px;">
    <div class="row gx-5">
      <div class="col">
       <div class="p-3 border bg-light">
        <form>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name</label>
                <input type="email" class="form-control" id="exampleFormControlInput1">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Feedback</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="mb-3">
                <button class="btn btn-primary">Submit</button>
              </div>
        </form>
       </div>
      </div>
      <div class="col">
        <div class="row">
             <div class="col" style="margin-top: 5px;">
                  <img src="{% static 'img/about.jpg' %}" 
                  style="height:150px; width:150px; 
                  border-radius: 50%;
                  "/>

                <p style="margin-top: 5px;">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Sapiente delectus ea, officia, nam ipsam laboriosam reprehenderit 
                    iste ducimus porro laborum vero,
                     repudiandae iusto aliquid rerum labore illo earum nihil dolore.
                </p>
             </div>

        </div>
      </div>
    </div>
  </div>
    
{% endblock %}