{% extends 'header.html'%}
{% load static %}
{% block title %} Blog {% endblock%}

{% block content %}

<div class="container" style="margin-top:10px;">
    <div class="row g-0">
        {% for i in blogs %}

        <div class="card" style="width: 19rem; margin: 20px;">
            <img src="\media\{{i.image}}" class="card-img-top" alt="..." style="height:200px; width: 300px;">
            <div class="card-body">
              <h5 class="card-title">{{i.title}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
       {% endfor %}
    </div>
  </div>


  
{% endblock %}